p {
	color:white;
	font-family:Comic Sans MS;
	font-size:40px;
}
ul.horizontal {
	list-style-type: none;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
ul.horizontal li {
	display: inline-block;
	text-align: center;
	font-size: 30px;
}
ul.horizontal li a {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	font-family:Comic Sans MS;
	text-decoration: none;
}
ul.horizontal li a:hover {
	background-color: gray
}
#content-container {
	width: 80%;
	margin-left: auto;
	/*margin-right: auto;*/
}
#content-box {
	width: 80%;
	margin: auto;
	background-color: white;
	opacity: 0.8;
	padding-top:5%;
	padding-bottom:5%;
	margin-top: 925px;
	margin-bottom:0px;
}
#content-box p {
	font-size:30px; 
	color:black; 
	text-align:center;
}
	 
#column {
	float: left;
	width:30%;
	margin-left:10%;
	margin-right:5%;
	border-radius: 10px;
}
#content-box #column p {
	text-align:left;
	font-size:25px;
	color:black;
}
#content-box #column ul {
	font-family:Comic Sans MS;
	text-align:left;
	font-size:25px;
	color:black;
}
#content-box #column ul li {
	font-family:Comic Sans MS;
	text-align:left;
	font-size:25px;
	color:black;
}
#contex-box {
	width: 50%;
	margin: auto;
	background-color:white;
	opacity: 0.8;
	padding-top:2%;
	padding-bottom:2%;
	margin-top:300px;
	margin-bottom:400px;
	font-size:15px;
	font-family:Verdana;
	
}
#contex-box p {
	font-size:25px;
	font-family:Verdana;
	color:black;
	text-align:center;
}
